
@{
    ViewBag.Title = "CountryName";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<br />

<h5>Country Details </h5>
@using (Html.BeginForm())
{
    <div>
    @Html.Label("Country")
    @Html.TextBox("CountryName")


        <input type="submit" name="cmdSubmit" value="Add" />
    </div>
}
    