@model  MVCexample.Models.Customer
@{
    ViewBag.Title = "DeleteCustomer";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>DeleteCustomer</h2>

<h3>Column has been deleted</h3>

<td>
    @Html.ActionLink("Back To Page", "Index", "Customers")

</td>
